$font-primary: "Montserrat", "Arial", sans-serif;
$font-secondary: "Poppins", "Arial", sans-serif;

$rose: #FE7865;
$orange: #F17D4B;
$dark: #141517;
$light: #2C2E3F;
$white: #FFFFFF;
$black: #000000;
$nav-link: #48494D;
$nav-link-bg: #FBF8F8;


$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$retina-dppx: 1.5dppx;
